@using Microsoft.AspNetCore.Http;
@model Customer;

@{
    ViewData["Title"] = "Gallery";
    Layout = "_galleryLayout";
    string uname = (string)ViewData["username"];
}
<h1>@ViewData["_galleryLayout"]</h1>

<p>Welcome form Gallery.</p>
<p>1 : @uname</p>